.footer {
    margin-top: $spacer*4;
    background-color: $color_green;
    color: $color_white;
    padding: 0 0 $spacer;
    @media(min-width: $breakpoint_tablet) {
        padding: $spacer*4 0;
    }
    .layout--tour & {
        margin-top: 0;
    }
}
