.island-top {
    padding-top: $spacer !important;
}

.island-topHalf {
    padding-top: $spacer/2 !important;
}

.island-topDouble {
    padding-top: $spacer*2 !important;
}

.island-bottom {
    padding-bottom: $spacer !important;
}

.island-bottomHalf {
    padding-bottom: $spacer/2 !important;
}

.island-bottomDouble {
    padding-bottom: $spacer*2 !important;
}

